.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
	overflow-y: auto;
	/* background-color: #e5e4e2; */
}

.code {
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
		monospace;
	font-weight: 700;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	gap: 20px;
}

.chatInput {
	width: 40%;
	background-color: #ffffff;
	color: #000000;
	height: 40px;
	padding: 10px 16px;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
}

.chatInput:hover,
.chatInput:focus {
	background-color: #e5e4e2;
}

.button {
	background-color: #ffffff;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:hover,
.button:focus {
	background-color: #e5e4e2;
}

.messagesContainer {
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	gap: 5px;
	padding: 10px;
	max-height: 400px;
	overflow: auto;
}

.messageBubble {
	padding: 5px 10px;
	width: fit-content;
	border-radius: 8px;
	background-color: #ffffff;
	color: #000000;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.messageBody {
	font-size: 18px;
}
.userName {
	font-size: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.accountContainer {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.userImage {
	width: 40px;
	height: 40px;
	background-color: #ccc;
	border-radius: 50%;
	margin-right: 10px;
}
